<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head', {page_title: 'Error' }) %>

    <body>
        <main>
            <h4>Something has gone wrong :/</h4>
            <h5>
                <%= errorText %>
            </h5>
        </main>
    </body>

</html>