PORT=3000

#Postrgresql Mac
DATABASE_URL=postgres://localhost:5432/city_explorer

#Postgresql Windows
DATABASE_URL=postgres://<username>:<password>@localhost:5432/city_explorer

# Create an account. This will give you a token. [LocationIQ](https://locationiq.com/){:target="_blank"}
GEOCODE_API_KEY=PASTE-API-KEY-HERE

# Create an account, log in, and go to: https://www.weatherbit.io/
WEATHER_API_KEY=PASTE-API-KEY-HERE

# Create an account, log in, and go to: https://www.yelp.com/developers/v3/manage_app
YELP_API_KEY=PASTE-API-KEY-HERE

# Instructions to get a key: https://developers.themoviedb.org/3/getting-started/introduction
MOVIE_API_KEY=PASTE-API-KEY-HERE

# Create an account, log in, see your key here: [National Parks Service)[https://www.nps.gov/subjects/developer/api-documentation.htm]
PARKS_API_KEY=PASTE-API-KEY-HERE
